name: Build and Publish

on:
  push:
    branches:
      - main  # Change this to the branch you want to trigger the workflow on

jobs:
  build-and-publish:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Setup Node.js
        uses: actions/setup-node@v2
        with:
          node-version: 18  # Adjust to your desired Node.js version

      - name: Install dependencies
        run: npm ci

      - name: Build
        run: npm run build  # Adjust this command to your build script

      - name: Publish
        run: npm publish
        env:
          NODE_AUTH_TOKEN: ${{secrets.NPM_TOKEN}}  # Make sure you have an npm token set in your repository secrets
